.home-container {
    /* border: 2px solid red; */
    max-width: 1804px; 
    min-width: 1804px; 
    margin-left: auto;
    margin-right: auto;
}

.homepage-header{
    /* border: 2px solid purple; */
    line-height: 20px;
    margin-top: 63px;
    margin-bottom: 60px;
}
.homepage-header h1 , p {
    color: #c21d3c;
    font-size: 32px;
}

.homepage-header p {
    color: black;
    margin-top: 0;
}

.divider{
    border: 2px solid #c21d3c;
    height: 47px;
    min-width: 1804px;
    max-width: 1804px;
    background-color: #c21d3c;
}

.covid-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1804px;
    min-width: 1804px;
    

}

.covid-message {
    border: 5px solid #FF0000;
    margin-top: 19px;
    width: 1599px;
    height: 96px;
}

.covid-message p , .more-details-border p {
    font-size: 24px;
    text-align: center;
    color: black;
}

.more-details-border p {
    color: #c21d3c;
    border-bottom: 1px solid;
    width: 300px;
    cursor: pointer;
    line-height: 20px;
}

.more-details-border {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1804px;
    min-width: 1804px;
}


.future-rent-container{
    color: #c21d3c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 64px;
}

.future-rent-container h1 {
    font-size: 36px;
}

.search-container {
    /* height: 519px; */
    width: 1804px;
    border-radius: 42px;
    border: 2px solid #c21d3c;
    background-color: #c21d3c;
}

.search-first-row {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.selection-input {
    background-color: #fff;
    width: 322px;
}
.label-input-class, .label-input-class2{
    /* border: 2px solid rgb(66, 224, 8); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:600px ;
    color: #fff;
    font-size: 32px;
    margin: 35px 0px 0px 0px;
    
    
}

.label-input-class2 {
    margin-left: 46px;
    
}

.input-box {
    margin-right: 73px;
}

.input-box1 {
    margin-right: 23px;
}

/* ------------------------------------------ */

.search-second-row{
    display: flex;
    /* border: 5px solid purple; */
    align-items: center;
    margin-top: 66px;
}


.selection-input-second-row, .selection-input-second-row3 , .selection-input-second-row2 {
    width: 204px;
    background-color: #fff;
    
}

.selection-input-second-row3, .selection-input-second-row2{
    width: 273px;
}

.selection-input-second-row3{
    margin-right: 100px;
}

.label-input-second-row, .label-input-second-row2, .label-input-second-row3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:400px ;
    color: #fff;
    font-size: 32px;
    margin-left: 26px;
}

.label-input-second-row2{
    width: 300px;
    margin-left: 26px;
}

.input-box-second-row2{
    margin-right: 10px;
}

.label-input-second-row3 {
    width: 540px;
}

.advance-checkbox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.advance-checkbox input {
    width: 42px;
    height: 42px;
    margin-right: 10px;
    margin-left: 26px;
}

.labels-advance-search {
    font-size: 24px;
    color: #fff;
    margin-right: 200px;
    width: 500px;
    /* border: 2px solid; */
}
.labels-advance-search1 {
    color: #fff;
    font-size: 24px;
    width: 250px;
}

.form {
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    width: 1800px;
    margin-top: 64px;
}

.second-checkbox{
    display: flex;
    align-items: center;
    width: 1800px;
}

.second-checkbox input{
    /* border: 2px solid pink; */
    border-radius: 10px;
    width: 300px;
    margin: 0px;
    margin-right: -110px;
}

.input-text-key-word {
    height: 50px;
    width: 400px;
    padding-left: 20px;
    font-size: 16px;
}

.labels-advance-keyword{
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
    margin-left: 350px;
}

.button-container-homepage {
    /* border: 2px solid ; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 77px;
    margin-bottom: 71px;
}

.search-property-button {
    width: 296px;
    height: 54px;
    font-size: 32px;
    border-radius: 12px;
    color: #fff;
    background-color: black;
    border: 1px solid black;
    margin-left: 130px;
    cursor: pointer;
    
}

.advance-search-button {
    cursor: pointer;
    width: 296px;
    height: 54px;
    font-size: 32px;
    border-radius: 12px;
    margin-right: 130px;

}
.google-map-wrapper{
    min-width: 1034px;
    max-width: 1034px;
    height: 538px;
    margin-left: auto;
    margin-right: auto;
}

.play-header-container {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2px;
    margin-top: 47px;
    margin-bottom: 82px;
    margin-left: auto;
    margin-right: auto;
}

.play-header {
    color: #c21d3c;
}

.play-container {
    /* border: 2px red solid; */
    max-width: 1804px ;
    min-width: 1804px ;
    margin-right: auto;
    margin-left: auto;
}

.latest-property-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 97px;

}

.property-header {
    border: 2px solid;
    color: #fff;
    background-color: #c21d3c;
    padding-left: 127px;
    padding-right: 127px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.latest-property-products-container {
    /* border: 2px solid; */
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.latest-property-products {
    /* border: 2px solid purple; */
    width: 319px;
    padding-bottom: 10px;
    background-color: #c21d3c;
}

.icon-image {
    margin-left: 100px;
}

.view-button{
    border-radius: 6px;
    width: 111px;
    height: 28px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-left: 200px;
    margin-top: 4px;
}

.information-product {
    color: #fff;
    padding: 2px;
}

.img-wrapper {
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-top: 10px;
}

.img-wrapper p {
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
}

.view-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.view-button2, .view-button1 {
    border-radius: 6px;
    width: 111px;
    height: 28px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.view-button1 {
    background-color: #fff;
    color: black;
    margin-left: 10px;
}